/* Start Global Code */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");
:root {
  --main_color: #7453fc;
  --hover_color_main: #7553fccb;
  --black_color: #222;
  --white_color: #fff;
  --tran_time: 0.4s;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--main_color);
  background-image: url(../images/dark-bg.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Code */
/* Start Header */
header .container {
  background-color: var(--white_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 100px;
  transform: translateX(-50%);
  position: fixed;
  width: 95%;
  top: 10px;
  left: 50%;
  z-index: 10000000000;
}
header .container a img {
  width: 180px;
}
header .container .menu_icon {
  display: none;
}
header .container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav ul li a {
  font-size: 0.95rem;
  padding: 10px 20px;
  color: var(--balck_color);
  transition: var(--tran_time);
}
header .container nav ul li a:hover {
  color: var(--main_color);
}
header .container nav ul li:nth-child(1) a {
  background-color: var(--main_color);
  border-radius: 100px;
  color: var(--white_color);
  transition: var(--tran_time);
}
header .container nav ul li:nth-child(1) a:hover {
  background-color: var(--hover_color_main);
}
@media screen and (max-width: 767px) {
  header .container .menu_icon {
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 100px;
    transition: var(--tran_time);
    cursor: pointer;
  }
  header .container nav ul {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    background-color: var(--white_color);
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    border-radius: 15px;
    transition: var(--tran_time);
    transform: translateY(-200%);
  }
  header .container nav ul li {
    width: 100%;
    text-align: center;
    transition: var(--tran_time);
    border-radius: 100px;
  }
  header .container nav ul li:hover {
    background-color: #7553fc83;
  }
  header .container nav ul li a {
    width: 100%;
    display: inline-block;
  }
  header .container nav ul li a:hover {
    color: var(--white_color);
  }
}
/* Start Header */
/* Start Banner Section */
.banner {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: 100vh;
}
.banner .container {
  display: flex;
  gap: 20px;
  padding-top: 190px;
  padding-bottom: 50px;
  color: var(--white_color);
  font-weight: bold;
  align-items: center;
}
.banner .container .box p {
  font-weight: 100;
  margin: 0;
}
.banner .container .box p.first {
  font-weight: bold;
}
.banner .container .box h3 {
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner .container .box .information {
  font-size: 0.85rem;
  line-height: 25px;
  margin-bottom: 25px;
  font-weight: 500;
}
.banner .container .box .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.banner .container .box .buttons a {
  display: inline-block;
  padding: 15px 25px;
  border: solid 2px var(--main_color);
  border-bottom: solid 2px var(--white_color);
  border-radius: 100px;
  color: var(--white_color);
  transition: var(--tran_time);
  font-size: 0.9rem;
}
.banner .container .box .buttons a:nth-child(2) {
  background-color: var(--main_color);
}
.banner .container .box .buttons a:hover {
  background-color: #7553fc83;
}
.banner .container .image {
  width: 100%;
  height: 350px;
  background-image: url(../images/banner-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  animation: img_banner 5s step-start infinite;
}
@keyframes img_banner {
  0% {
    background-image: url(../images/banner-01.png);
  }
  50% {
    background-image: url(../images/banner-02.png);
  }
}
@media screen and (max-width: 767px) {
  .banner {
    height: auto;
  }
  .banner .container {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 120px;
  }
  .banner .container .box .information {
    font-weight: 500;
  }
  .banner .container .box .buttons {
    flex-direction: column;
    align-items: center;
  }
  .banner .container .box .buttons a {
    width: 70%;
    text-align: center;
  }
  .banner .container .image {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 420px) {
  .banner .container .image {
    max-width: 100%;
    height: 300px;
  }
}
/* End Banner Section */
/* Start Browes Section */
.browes {
  padding: 50px 0;
}
.title_section {
  text-align: center;
  font-size: 2rem;
  color: var(--white_color);
  font-weight: bold;
  position: relative;
  padding: 25px;
  margin: 0;
}
.title_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: var(--main_color);
}
.title_section span {
  color: var(--main_color);
}
.browes .parent {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.browes .parent .box {
  background-color: var(--black_color);
  padding: 15px;
  border-radius: 10px;
  border: solid 1px #444;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: var(--white_color);
  font-size: 0.9rem;
  width: 130px;
}
.browes .parent .box .image {
  background-color: var(--white_color);
  width: 45px;
  height: 45px;
  border-radius: 100px;
  position: relative;
}
.browes .parent .box .image img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30px;
}
/* End Browes Section */
/* Start Explore */
.explore .container .parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  row-gap: 40px;
}
.explore .container .parent .box {
  background-color: var(--black_color);
  border-radius: 20px;
  border: solid 1px #444;
  color: var(--white_color);
}
.explore .container .parent .box .image {
  overflow: hidden;
  border-radius: 20px;
}
.explore .container .parent .box .image img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .explore .container .parent .box .image img {
    width: 100%;
  }
}
.explore .container .parent .box .info {
  padding: 15px;
  position: relative;
}
.explore .container .parent .box .info .title {
  margin: 0;
  padding: 15px 0;
  border-bottom: solid 1px #444;
  font-size: 1.1rem;
}
.explore .container .parent .box .info .data {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 15px 0;
  padding-bottom: 30px;
}
.explore .container .parent .box .info .data div :nth-child(2) {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 8px;
  display: inline-block;
}
.explore .container .parent .box .info .data .right {
  text-align: right;
}
.explore .container .parent .box .info .button {
  display: inline-block;
  width: 85%;
  background-color: var(--main_color);
  transition: var(--tran_time);
  color: var(--white_color);
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 35%);
  border-bottom: solid 2px var(--white_color);
}
.explore .container .parent .box .info .button:hover {
  background-color: var(--hover_color_main);
}
/* End Explore */
/* Start Steps Create */
.steps {
  background-image: url(../images/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 40px 0;
  padding: 50px 0;
  color: var(--white_color);
}
.steps .container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.steps .container .title p {
  margin: 0;
  padding: 30px 0;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
}
.steps .container .title p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 1px;
  background-color: var(--white_color);
}
.steps .container .title .button {
  padding: 15px 20px;
  background-color: var(--main_color);
  color: var(--white_color);
  font-weight: bold;
  display: inline-block;
  border-radius: 100px;
  border-bottom: Solid 2px var(--white_color);
  transition: var(--main_color);
}
.steps .container .title .button:hover {
  background-color: var(--hover_color_main);
}
@media screen And (max-width: 767px) {
  .steps .container .title {
    flex-direction: column;
  }
  .steps .container .title p:before {
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
  }
}
.steps .container .parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.steps .container .parent .box .image {
  position: relative;
}
.steps .container .parent .box .image img {
  position: absolute;
  top: 54%;
  left: 10px;
  transform: translateY(-50%);
}
.steps .container .parent .box:nth-child(2) .image img {
  top: 50%;
}
.steps .container .parent .box .image .bg {
  background-color: var(--white_color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.steps .container .parent .box h4 {
  margin: 30px 0 15px;
}
.steps .container .parent .box .info {
  font-size: 0.9rem;
  line-height: 1.6rem;
}
.steps .container .parent .box .info a {
  color: #3cf;
}
.steps .container .parent .box {
  position: relative;
  padding: 20px;
}
.steps .container .parent .box:nth-child(2):before,
.steps .container .parent .box:nth-child(3):before {
  content: "";
  position: absolute;
  height: 85%;
  width: 1px;
  left: 0;
  bottom: 0;
  background-color: #dddddd2d;
}
.steps .container .parent .box .num {
  position: absolute;
  left: -4px;
  top: 15px;
}
/* End Steps Create */
/* Start Items */
.items {
  margin-bottom: 30px;
}
.items .container .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white_color);
  margin: 30px 0;
}
.items .container .head .title {
  font-size: 1.4rem;
  margin: 0;
  padding: 25px 0;
  position: relative;
}
.items .container .head .title:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: var(--main_color);
  top: 0;
  left: 0;
}
.items .container .head .title span {
  color: var(--main_color);
}
.items .container .head .list {
  color: var(--white_color);
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
}
.items .container .head .list li a {
  color: var(--white_color);
  transition: var(--tran_time);
  padding: 5px 10px;
  border-radius: 100px;
}
.items .container .head .list li a:hover {
  background-color: var(--main_color);
}
.items .container .head .list li:nth-child(1) a {
  background-color: var(--main_color);
}
.items .container .parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.items .container .parent .box {
  padding: 15px 20px;
  background-color: var(--black_color);
  border: solid 1px #444;
  border-radius: 15px;
  color: var(--white_color);
  display: flex;
  gap: 15px;
}
.items .container .parent .box .image {
  overflow: hidden;
  border-radius: 15px;
  width: 40%;
  background-image: url(../images/market-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.items .container .parent .box .info {
  width: 60%;
}
.items .container .parent .box .info .title h4 {
  margin: 10px 0;
}
.items .container .parent .box .info .title .author {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  line-height: 1.3rem;
}
.items .container .parent .box .info .title .author img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.items .container .parent .box .info .title .author a {
  color: var(--main_color);
  transition: var(--tran_time);
  font-size: 0.9rem;
}
.items .container .parent .box .info .title .author a:hover {
  color: var(--hover_color_main);
}
.items .container .parent .box .info .data {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 100%;
  border-top: solid 1px #444;
  padding: 10px 0 50px;
}
.items .container .parent .box .info .data .right {
  text-align: right;
}
.items .container .parent .box .info .data div :nth-child(2) {
  font-size: 1rem;
}
.items .container .parent .box .info .button {
  color: var(--main_color);
  text-decoration: underline;
  font-size: 0.9rem;
  transition: var(--tran_time);
}
.items .container .parent .box .info .button:hover {
  color: var(--hover_color_main);
}
@media (max-width: 775px) {
  .items .container .head {
    flex-direction: column;
    align-items: center;
  }
  .items .container .head .title {
    margin: 15px 0;
  }
  .items .container .head .list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .items .container .head .title:before {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .items .container .parent .box {
    flex-direction: column;
  }
  .items .container .parent .box .image {
    width: 100%;
    height: 200px;
  }
  .items .container .parent .box .info {
    width: 100%;
  }
}
/* End Items */
/* Start Footer */
footer {
  background-image: linear-gradient(
    132deg,
    rgba(125, 90, 254, 1) 25%,
    rgba(160, 84, 244, 1) 100%
  );
  padding: 10px 0;
  color: var(--white_color);
  font-size: 0.9rem;
  text-align: center;
}
footer p span {
  font-weight: bold;
}
footer p a {
  color: var(--white_color);
  transition: var(--tran_time);
}
footer p a:hover {
  color: var(--main_color);
}
/* End Footer */
